.congrats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  canva {
    display: none;
    top: 0;
  }
  .logo {
    & img {
      object-fit: contain;
    }
  }

  .success-icon {
    width: 300px;

    & img {
      object-fit: cover;
    }
  }

  .text {
    h2 {
      color: $primary;
      margin-bottom: 1rem;
    }
    p {
      color: $text-muted;
      font-size: 0.9rem;
      margin-bottom: 0.2rem;
    }
  }
}
