.sign-in {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .auth-form {
    width: 100%;
    margin-top: 2rem;

    .input-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-bottom: 1rem;

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 13px;

        margin-bottom: 0.5rem;
        font-weight: 300;
      }

      input {
        font-size: 13px;

        width: 100%;
        border: 1px solid #d0d0d0;
        height: 40px; // Ensure a consistent height
        font-size: 1rem;
        padding-left: 10px;
        &::placeholder {
          color: transparent;
        }
      }

      .password-input {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        input {
          flex: 1;
          padding-right: 40px;
        }

        .eye-icon {
          position: absolute;
          right: 12px;
          cursor: pointer;
          font-size: 18px;
          color: #757575;

          &:hover {
            color: #1e1463;
          }
        }
      }
    }
    .btn {
      padding: 1rem;
      margin-top: 2rem;
      font-size: 1rem;
    }
    .forgot-password {
      margin-top: 1rem;
      font-size: 0.7rem;
      color: $text-muted;

      a {
        text-decoration: underline;
        color: $primary;
        font-weight: bold;
      }
    }
  }

  .btns-container {
    width: 100%;

    .btns-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2rem;
    }
  }
}
html.dark {
  .auth-form {
    .input-group {
      input {
        border: 1px solid var(--text-primary);
        background-color: transparent;
        color: var(--text-primary);
      }
    }
  }
  .forgot-password {
    color: var(--text-primary) !important;
    a {
      color: var(--text-primary) !important;
    }
  }
  .eye-icon {
    color: var(--text-primary) !important;
  }
}
