.auth-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    object-fit: contain;
  }
  .tab {
    display: flex;
    justify-content: space-between;
    border: 1px solid #d0d0d0;
    border-radius: 45px;
    width: 300px;
    overflow: hidden;

    a {
      color: $text-primary;
      font-size: 0.8rem;
      padding: 0.5rem 0;
      flex: 1;
      &.active {
        background-color: $primary;
        color: $background;
      }
    }
  }
}

html.dark {
  .auth-header {
    .tab {
      a {
        color: var(--text-primary);
      }
    }
  }
}
