.form-container {
  background-color: rgba(#dddddd, 0.13);
  backdrop-filter: blur(10px);
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #b2b2b2;
  text-align: center;
  padding: 2rem 4rem 2rem 4rem;
  z-index: 2;
  width: 500px;
}
