$background: #ffffff;
$background-secondary: #f5f5f5;
$background-tertiary: #fafafa;
$border-color: #fdfdfd;
$light-gray: #f8f8f8;

$primary: #1e1463;
$secondary: #38299d;
$tertiary: #6053c0;
$accent: #cac0ff;
$highlight: #e9e5ff;

$green-primary: #0e5c3a;
$green-secondary: #0e6f45;
$green-tertiary: #118351;
$green-accent: #1eaa6c;

$text-primary: #000000;
$text-secondary: #333333;
$text-muted: #5b5b5b;
$text-light: #a6a6a6;

$gray-primary: #d0d0d0;
$gray-secondary: #f1f1f1;
$gray-tertiary: #f6f6f6;
$gray-quaternary: #f8f8f8;

$button-primary: #1e1463;
$button-secondary: #0e5c3a;
$link-color: #3a3a3a;

$body-background: $background;
$body-text: $text-primary;

/* Dark Mode */
$background-dark: #0a0a0a;
$text-dark: #ededed;

:root {
  --background: #{$background};
  --foreground: #{$text-primary};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --accent: #{$accent};
  --highlight: #{$highlight};
}

.dark {
  --background: #{$background-dark};
  --foreground: #{$text-dark};
}
